.input-field {

    .prefix {
        &.active {
            color: #2196f3;
        }
    }

    input[type=email], input[type=password], input[type=text], textarea  {
        &:focus {
            border-bottom: 1px solid #2196f3 !important;
            box-shadow: 0 1px 0 0 #000;

            & + label {
                color: #2196f3 !important;
            }
        }
    }
}
